{{> header}}

    <main class="container-center">
      <section class="card index-card">
        <h1 class="background-title">⚡POWERGYM MÓSTOLES</h1>

        <div class="grid grid-3 index-info">
          <div>
            <p>📍 Av. del Alcalde de Móstoles, Móstoles, Madrid</p>
            <p>📞 91 665 50 60</p>
            <p>📧 mostoles@powergym.es</p>
          </div>
          <div>
            <p>🏋️‍♂️ Gimnasio: 6.00h - 1.00h</p>
            <p>🛎️ Recepción: 8.00 - 22.00h</p>
          </div>
        </div>
      </section>
    </main>

{{> footer}}