{{>header}}

<main class="container mt-5">

  <h2 class="text-center mt-5 mb-4">Profile User</h2>

  {{#error}}
  <div class="alert alert-danger">{{error}}</div>
  {{/error}}

  {{#saved}}
  <div class="alert alert-success">Profile saved.</div>
  {{/saved}}

  <form action="/profileUser" method="post">
    {{#token}}
    <input type="hidden" name="_csrf" value="{{token}}" />
    {{/token}}

    <div class="diet-container">

      <div class="diet-info">

        <div class="card mb-3">
          <div class="card-body">
            <label class="form-label fw-bold">Name</label>
              <input 
              type="text" 
              class="form-control" 
              name="name" 
              value="{{name}}" 
              required>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <label class="form-label fw-bold">Email</label>
              <input 
              type="email" 
              class="form-control" 
              name="email" 
              value="{{email}}" 
              required>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <label class="form-label fw-bold">Trainings Subscribed</label>
            <div class="form-control text-muted text-center">

              {{#trainings}}
                <div class="mb-1">{{name}}</div>
              {{/trainings}}

              {{^trainings}}
                There are no training plans added to the profile
              {{/trainings}}

            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <label class="form-label fw-bold">Nutrition Subscribed</label>
            <div class="form-control text-muted text-center">

              {{#nutritions}}
                <div class="mb-1">{{name}}</div>
              {{/nutritions}}

              {{^nutritions}}
                There are no nutrition plans added to the profile
              {{/nutritions}}

            </div>
          </div>
        </div>

        <div class="btn-row text-center mt-3">
          <button class="btn btn-primary" type="submit">Save</button>
        </div>

      </div>
    </div>
  </form>

</main>

{{>footer}}