{{>header}}

<div class="container mt-4 mb-5 nutrition-page">
	<h2 class="text-center mt-5 mb-4">Training Plans</h2>

	<div class="grid grid-3">
		{{#trainings}}
		<div class="card">
			<div class="card-header">{{name}}</div>

			{{#image}}
			<img src="/images/{{id}}" class="card-img" alt="Training image" />
			{{/image}} {{^image}}
			<img src="/assets/images/no_image.png" class="card-img" alt="No image" />
			{{/image}}

			<div class="card-header">
				Goal: {{goal}}<br />
				Duration: {{time}} min

				<div class="mt-3 text-center">
					<a href="/trainings/{{id}}" class="btn btn-primary">More info</a>
				</div>
			</div>
		</div>
		{{/trainings}}
	</div>

	{{#logged}}
	<div class="btn-row" style="justify-content: center; margin-top: 2rem">
		<a href="/createtraining" class="btn btn-primary">Add training</a>
	</div>
	{{/logged}}
</div>

{{>footer}}